[submodule "src/fastapi_relayer_sdr"]
	path = src/fastapi_relayer_sdr
	url = https://github.com/Khyst/fastapi_relayer_sdr
[submodule "src/sdr_frontend"]
	path = src/sdr_frontend
	url = https://github.com/Khyst/sdr_frontend
